



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/login.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
            Shopdrop
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="shop.html">Shop</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <!--<div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <a class="nav-icon position-relative text-decoration-none" th:href="@{/login}">
                    Sign In
                </a>-->
                <a class="nav-icon position-relative text-decoration-none" th:href="@{/login}">
                    Sign In
                </a>
            </div>
        </div>

    </div>
</nav>


<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">

            <div class="col-md-4">
                <img src="assets/img/new.jpg">
            </div>
            <div class="login">
                <form class="form-signin" th:action="@{/register}" method="POST" th:object="${user}">

                    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
                    <p class="alert alert-danger" th:if="${emailError}">Email already in use.</p>

                    <input class="form-control" type="email" placeholder="Email Address" name="email"  th:field="*{email}" required>
                    <input class="form-control" type="text" placeholder="Full Name" name="name" th:field="*{name}" required>
                    <input class="form-control" type="text" placeholder="Phone Number" name="contact_number" th:field="*{contactNumber}" required>
                    <input class="form-control" type="password" name="password" placeholder="Password" th:field="*{password}" required>
                    <!--<input type="radio" th:field="*{role}" th:text="user" th:value="user" name="userType" class="m-2" required/>
                    <input type="radio" th:field="*{role}" th:text="artist" th:value="artist" name="userType" class="m-2" required/>-->

                    <!--<button class="btn btn-lg text-white bg-theme1 btn-block" type="submit">Register</button>-->
                    <button type="submit" class="btn btn-primary btn-block btn-large">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

</section>


<footer class="bg-dark" id="tempaltemo_footer">
    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 Shopdrop
                        <!--| Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a>-->
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>


<!-- fontawesome script --
<script src="https://kit.fontawesome.com/1f4b1ad491.js" crossorigin="anonymous"></script>

!-- bootstrap script --
<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
-->
</body>
</html>